<%= render 'layouts/menubar' %>
<div class="container">
</div>
<div class="main">
    <h2 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %> さんとのチャット</h2>
  <div class="container">
    <div class="chat-log">
      <% @messages.each do |chat| %>
        <% if chat.user_id != current_user.id %>
          <div class="message-otheruser">
            <h3 class="chat-log__author" style="text-align: left;"><%= @user.name %></h3>
            <div class="chat-log__message" style="text-align: left;"><%= chat.message %></div>
          </div>
        <% else %>
          <div class="message" id="message-<%= chat.id %>">
            <h3 class="chat-log__author" style="text-align: right;"><%= current_user.name %></h3>
            <div class="chat-log__message" style="text-align: right;"><%= chat.message %></div>
             <div class="chat-log__delete"><%= link_to "削除", message_path(chat.id), method: :delete, remote: true %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="chat-form">
    <div class="container">
      <div class="row">
        <%= form_with model: @message do |f| %>
          <div class="col-sm-12 col-xs-12">
            <%= f.text_field :message, class: "form-control js-message-input", size: 200 %>
            <%= f.hidden_field :room_id %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


