<%= render 'layouts/menubar' %>
  <div class="container">
    <div class="row">
      <h2>Sign up</h2>
        <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <table>
          <tr>
            <div class="form-group">
              <th><label class="control-label col-xs-2">名前</label></th>
              <td><%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "２文字以上の名前で設定してください" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><label class="control-label col-xs-2">メールアドレス</label></th>
              <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "example@example.com" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th>
                <label class="control-label col-xs-2">パスワード</label>
              </th>
              <td><%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "６文字以上で設定してください" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th><label class="control-label col-xs-2">パスワード(確認用）</label></th>
              <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "上記と同じパスワードを入力してください" %></td>
            </div>
          </tr>
          <tr>
            <div class="form-group">
              <th></th>
              <td><%= f.submit "新規投稿", class: 'btn btn-primary' %></td>
            </div>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
</div>