<div class="card-box" style="margin-top: 30px;">
  <h5 style="margin-bottom: 20px;">サイト内検索</h5>
  <div class="form-group">
    <%= form_with url: finder_path, method: :get, local: :true do |f| %>
      <span><%= f.select :range, options_for_select([['User'], ['Post'], ['Tag']]) %></span>
      <%= f.hidden_field :search, "部分一致" => "partial_match" %>
      <span><%= f.text_field :word, size: "18" %></span>
      <span><%= f.submit "検索" %></span>
    <% end %>
  </div>
</div>