<% if @range == "User" %>
  <h2 style="margin: 20px 0;"><%= "#{ @word }" + "の検索結果" %></h2>
  <%= render "relationships/index", users: @users %>
<% elsif @range == "Post" %>
  <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.body %>
  <% end %>
<% else %>
  <% @tags.each do |tag| %>
    <% tag.posts.each do |post| %>
      <%= post.title %>
      <%= post.body %>
      <%= tag.tag_name %>
    <% end %>
  <% end %>
<% end %>