<% if user_signed_in? %>
<div class="card-box" style="margin-top: 30px;">
  <div class="profile-userpic">
		<%= attachment_image_tag(user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg", size: '100x100', class: "rounded-circle") %>
	</div>
	<div class="profile-usertitle">
  	<div class="profile-usertitle-name"><%= user.name %></div>
	</div>
	<div class="profile-userbuttons">
		<span style="padding-right: 10px;">
        <a href="<%= user_followings_path(user) %>">
          <%= user.followings.count %>
          フォロー
        </a>
    </span>
    <span>
      <a href="<%= user_followers_path(user) %>">
        <%= user.followers.count %>
        フォロワー
      </a>
    </span>
	</div>
  <div class="profile-usermenu">
		<ul class="nav">
			<li><%= link_to '下書き一覧', user_confirm_path(user.id), class: "btn btn-block" %></li>
			<li> <%= link_to 'ユーザー情報編集',edit_user_path(user),class: "btn btn-block" %></li>
		</ul>
	</div>
</div>
<% end %>

