<%= render 'layouts/menubar' %>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3 border-right'>
      <%= render 'leftbar', user: current_user %>
    </div>
    <div class='col-md-6'>
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6 img">
          <%= attachment_image_tag(@user, :profile_image, :fill, 208, 208, fallback: "no_image.jpg") %>
        </div>
        <div class="col-md-6 details">
          <div>
            <span style="font-size: 20px;"><%= @user.name %></span>
            <span style="margin-left: 10px; line-height: 10px;">
              <% if current_user != @user %>
                <% if current_user.following?(@user) %>
                  <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-danger" %>
                <% else %>
                  <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
                <% end %>
              <% end %>
            </span>
            <span style="margin-left: 5px; line-height: 10px;">
              <% if current_user != @user %>
                <%= link_to 'チャットする', message_path(@user.id), class: "btn btn-primary" %>
              <% end %>
            </span>
          </div>
          <div style="margin-top: 10px;">
            <small>
              <span style="padding-right: 10px;">
                <a href="<%= user_followings_path(@user) %>">
                  <%= @user.followings.count %>
                  フォロー
                </a>
              </span>
              <span>
                <a href="<%= user_followers_path(@user) %>">
                  <%= @user.followers.count %>
                  フォロワー
                </a>
              </span>
            </small>
          </div>
          <p><%= @user.introduction %></p>
        </div>
      </div>
      <% @posts.each do |post| %>
          <div class="card-box">
            <div class="cardbox-heading">
      		    <div class="cardbox-item">
      		      <% if post.post_images.present? %>
                  <% post.post_images.first(1).each do |post_image| %>
                    <p><%= attachment_image_tag(post_image, :image,:fill,300,300, fallback: "no_image.jpg", size: "300x300", class: "cardbox-item") %></p>
                  <% end %>
                <% else %>
                  画像はありません。
                <% end %>
      		    </div>
      		    <div class="cardbox-base" style="margin-top: 20px;">
      		      <%= link_to post_path(post) do %>
      		      <h3><%= post.title %></h3>
      		      <% end %>
      		      <p style="margin-top: 10px:"><%= post.spot.address %></p>
      		    </div>
      		    <div class="row float-right">
      			    <div class="footer" style="margin-top: 5px;">
        			    <p>
        			      <span>Tags:</span>
      			        <span>
                      <% post.tags.each do |tag| %>
      			            <%= link_to tag.tag_name,posts_path(tag_id: tag.id) %>
      			          <% end %>
      			        </span>
          			    <span>|</span>
                	  <span id="favorite-<%= post.id %>"><%= render 'favorites/favorites_form', post: post %></span>
                    <span>|</span>
                    <span class="comment_count"><%= post.post_comments.count %></span>
                    <span>|</span>
                    <span><%= post.created_at.strftime('%Y/%m/%d') %></span>
                    <% if current_user == @user %>
                      <span>|</span>
                      <span><%= link_to '編集', edit_post_path(post.id), class: "btn btn-sm btn-success" %></span>
                      <span>|</span>
                      <%= link_to '削除', post_path(post.id), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
                    <% end %>
                  </p>
                </div>
              </div>
      	    </div><!--/ cardbox-heading -->
          </div>
      <% end %>
    </div>
    <div class='col-md-3 border-left'>
      <%= render 'finders/searchbar' %>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <div style= "margin: 10px;"><%= paginate @posts %></div>
  </div>
</div>


