<% posts.each do |post| %>
  <div class="postbox">
    <p><%= post.title %></p>
    <p><%= post.body %></p>
    <% if user_signed_in? %>
      <% if post.favorited_by?(current_user) %>
        <td>
          <%= link_to post_favorites_path(post), method: :delete do %>♥<%= post.favorites.count %> いいね
          <% end %>
        </td>
      <% else %>
        <td>
          <%= link_to post_favorites_path(post), method: :post do %>♡<%= post.favorites.count %> いいね
          <% end %>
        </td>
      <% end %>
    <% else %>
    <% end %>
  </div>
<% end %>