<% posts.each do |post| %>
    <div class="card-box">
      <div class="cardbox-heading">
        <div class="media m-0">
		      <div class="d-flex mr-3">
				    <%= attachment_image_tag(post.user, :profile_image,:fill,50,50, fallback: "no_image.jpg", size: "50x50") %>
			    </div>
		      <div class="media-body">
			      <p style="line-height: 50px;">
			        <%= link_to user_path(post.user) do %>
			          <%= post.user.name %>
		          <% end %>
			      </p>
			    </div>
		    </div><!--/ media -->
		    <div class="cardbox-item">
		      <% if post.post_images.present? %>
            <% post.post_images.first(1).each do |post_image| %>
              <p><%= attachment_image_tag(post_image, :image,:fill,300,300, fallback: "no_image.jpg", size: "300x300", class: "cardbox-item") %></p>
            <% end %>
          <% else %>
            画像はありません。
          <% end %>
		    </div>
		    <div class="cardbox-base" style="margin-top: 20px;">
		      <h3>
		        <%= link_to post_path(post) do %>
		          <%= post.title %>
		        <% end %>
		      </h3>
		      <p style="margin-top: 10px:"><%= post.spot.address %></p>
		      <p class="favorite-count" style="margin-top: 10px:"><%= render 'favorites/favorites_count', post: post %></p>
		    </div>
		    <div class="row float-right">
			    <div class="footer" style="margin-top: 5px;">
  			    <p>
  			      <span class="fas fa-tag">Tags:</span>
  						<% post.tags.each do |tag| %>
			        	<span><%= link_to tag.tag_name,posts_path(tag_id: tag.id) %></span>
  						<% end %>
    			    <span>|</span>
          	  <span id="favorite-<%= post.id %>"><%= render 'favorites/favorites_form', post: post %></span>
              <span>|</span>
              <span class="comment_count">
              	<%= link_to post_path(post) do %>
              		<i class="fas fa-comment">
              			<%= post.post_comments.count %>
              		</i>
              		<% end %>
              </span>
              <span>|</span>
              <span><%= post.created_at.strftime('%Y/%m/%d') %></span>
            </p>
          </div>
        </div>
	    </div><!--/ cardbox-heading -->
    </div>
<% end %>





















