<div class="form-group" style="margin: 10px;">
  <p>サイト内検索</p>
  <%= form_with url: finder_path, method: :get, local: :true do |f| %>
  <span><%= f.select :range, options_for_select([['User'], ['Post'], ['Tag']]) %></span>
  <span><%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]), class: "form-control search-query" %></span>
  <span><%= f.text_field :word %></span>
  <span><%= f.submit "検索" %></span>
  <% end %>
</div>
<div class="form-group" style="margin: 20px 10px;">
  <p>タグ一覧</p>
  <ul>
    <li>
      <%= link_to "すべて", posts_path()  %>
    </li>
  <% tag_list.each do |list| %>
    <li>
      <%= link_to list.tag_name, posts_path(tag_id: list.id)  %>
      <%= "(#{list.posts.count})" %>
    </li>
  <% end %>
  </ul>
</div>