<%= render 'layouts/menubar' %>
<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
					  <div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						</ul>

					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><%= @post.title %></h3>
						<p class="product-description"><%= @post.body %></p>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="footer" style="margin-top: 5px;">
  			  <p>
  			    <span>Tags:</span>
  			    <% @post_tags.each do |tag| %>
  			      <span><%= link_to tag.tag_name,posts_path(tag_id: tag.id) %></span>
  			    <% end %>
  			    <span>|</span>
        	  <% if user_signed_in? %>
              <% if @post.favorited_by?(current_user) %>
                <span>
                  <%= link_to post_favorites_path(@post), method: :delete do %>
                    ♥<%= @post.favorites.count %>いいね
                  <% end %>
                </span>
              <% else %>
                <span>
                  <%= link_to post_favorites_path(@post), method: :post do %>
                    ♡<%= @post.favorites.count %> いいね
                  <% end %>
                </span>
              <% end %>
            <% end %>

          	  | <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm
           	  | <i class="icon-comment"></i>
       	      | <i class="icon-share"></i> <a href="#">39 Shares</a>
          </p>
        </div>
      </div>
		</div>
		<div class="comments">
      <p>コメント件数：<%= @post.post_comments.count %></p>
      <% @post.post_comments.each do |post_comment| %>
        <p><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></p>
        <%= post_comment.user.name %>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <div class="comment-delete">
          <p><%= link_to "削除", post_post_comments_path(@post.id, post_comment.id), method: :delete %></p>
        </div>
      <% end %>
      <% end %>
	  </div>
</div>