<%= render 'layouts/menubar' %>
<div class="container">
		<div class="card-box">
				<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
					  <div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-3"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-4"><img src="http://placekitten.com/400/252" /></div>
						  <div class="tab-pane" id="pic-5"><img src="http://placekitten.com/400/252" /></div>
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						  <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li>
						</ul>

					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><%= @post.title %></h3>
						<p class="product-description"><%= @post.body %></p>
					</div>
				</div>
			</div>
			<div class="row">
			  <div class="footer" style="margin-top: 5px;">
  			  <p>
  			    <span>Tags:</span>
  			    <% @post_tags.each do |tag| %>
  			      <span><%= link_to tag.tag_name,posts_path(tag_id: tag.id) %></span>
  			    <% end %>
  			    <span>|</span>
        	  <% if user_signed_in? %>
              <% if @post.favorited_by?(current_user) %>
                <span>
                  <%= link_to post_favorites_path(@post), method: :delete do %>
                    ♥<%= @post.favorites.count %>いいね
                  <% end %>
                </span>
              <% else %>
                <span>
                  <%= link_to post_favorites_path(@post), method: :post do %>
                    ♡<%= @post.favorites.count %> いいね
                  <% end %>
                </span>
              <% end %>
            <% end %>
            <span>|</span>
            <span><%= @post.post_comments.count %></span>
            <span>|</span>
            <span><%= @post.created_at.strftime('%Y/%m/%d') %></span>
          </p>
        </div>
      </div>
		</div>
	<%= render 'comment_index', post: @post, user: @user %>
	<%= render 'comment_form', post: @post, post_comment: @post_comment %>
</div>